@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;800;900&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
}

.main {
  height: 80vh;
  background-image: url(/assets/images/bg.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  /*to get zoom effect*/
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.main .box {
  background-color: rgba(0, 0, 0, 0.592);
  height: 80vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  max-width: 90vw;
  margin: auto;
  /* background-color: #fff; */
  padding: 18px 0; /*top,bottom and left,right*/
}

nav img {
  width: 110px;
  position: relative;
  z-index: 8;
}

nav .sel {
  position: relative;
  z-index: 8;
  padding: 0 1rem;
  margin: 25px 0;
  color: white;
  border-color: #ffffffad;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.but {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.btn-red-sm {
  background-color: rgba(255, 0, 0, 0.859);
  padding: 4px 1.2em;
  position: relative;
  z-index: 8;
  margin: 22px 8px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in;
  animation: none;
  outline: none;
  box-shadow: none;
}

.btn-red-sm:hover {
  background-color: rgba(255, 0, 0, 0.711);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  /* background-color: beige; */
  margin: 100px;
  padding: 50px 50px;
}
.hero div {
  font-family: "Martel Sans", sans-serif;
  text-align: center;
  line-height: 50px;
}
.first {
  font-size: 32px;
  font-weight: 900;
}
.hero :nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.hero :nth-child(3) {
  font-size: 18px;
  font-weight: 400;
}
.sep {
  height: 7px;
  background-color: rgba(87, 85, 85, 1);
}
